In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
477,tt1027718,70000000,134748021,Wall Street: Money Never Sleeps,Michael Douglas|Shia LaBeouf|Josh Brolin|Carey...,Oliver Stone,Gordon never gives up.,As the global economy teeters on the brink of ...,133,Drama|Crime,Twentieth Century Fox Film Corporation|Dune En...,9/2/2010,5.8,2010
1431,tt0355702,25000000,13411957,Lords of Dogtown,Emile Hirsch|Victor Rasuk|Rebecca De Mornay|Jo...,Catherine Hardwicke,"They never thought they'd be famous, but they ...",The film follows the surf and skateboarding tr...,107,Drama,Columbia Pictures|TriStar Pictures,6/3/2005,6.9,2005
66,tt3322364,35000000,48623572,Concussion,Will Smith|Bitsie Tulloch|Gugu Mbatha-Raw|Alec...,Peter Landesman,Even Legends Need a Hero,A dramatic thriller based on the incredible tr...,123,Drama,Village Roadshow Pictures|Scott Free Productio...,11/12/2015,6.9,2015
67,tt3530002,25000000,52395996,The Night Before,Joseph Gordon-Levitt|Seth Rogen|Anthony Mackie...,Jonathan Levine,"Their past, present and future. All in one night.",In New York City for their annual tradition of...,100,Comedy,Sony Pictures|Point Grey Pictures|Good Universe,11/20/2015,6.1,2015
897,tt0238380,20000000,5359645,Equilibrium,Christian Bale|Taye Diggs|Emily Watson|Angus M...,Kurt Wimmer,"In a future where freedom is outlawed, outlaws...","In a dystopian future, a totalitarian regime m...",107,Action|Science Fiction|Thriller,Dimension Films|Blue Tulip Productions,12/6/2002,6.9,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = (data.revenue)-(data.budget)
data['title_len'] = data['original_title'].str.len() 
data['release_date']=pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].apply(lambda x: x.month)
def year_time(month):
    if month<3 or month==12:
        return "winter"
    elif 3<=month<=5:
        return "spring"
    elif 6<=month<=8:
        return "summer"
    else:
        return "fall" 

data['year_time'] = data.month.apply(year_time)
data['overview_word_count'] = data.overview.str.split().apply(len)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_len,month,year_time,overview_word_count
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,14,6,summer,26
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,18,5,spring,110
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,9,3,spring,22
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,28,12,winter,26
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,9,4,spring,14

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data[data.budget==data.budget.max()].original_title# тут пишем ваш код для решения данного вопроса:

In [ ]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [9]:
data[data.runtime==data.runtime.max()].original_title

In [ ]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data.runtime==data.runtime.min()].original_title
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [11]:
data.runtime.mean()
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [12]:
data.runtime.median()
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:

data['profit'] = (data.revenue)-(data.budget)# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit==data.profit.max()].original_title
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [14]:
data[data.profit==data.profit.min()].original_title
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
data[data.revenue > data.budget].original_title.count()
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
data[(data.release_year == 2008)].groupby(['original_title'])['revenue'].sum().sort_values(ascending=False).head(1)
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
data.query('2012 <= release_year <= 2014').groupby(['original_title']).profit.min().sort_values().head(1)
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [18]:
#answers['10'] = data['genres'].value_counts()
genre_max = Counter()
for i in data.genres.str.split('|'):
    genre_max += Counter(i)
genre_max.most_common(1)
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

[('Drama', 782)]

ВАРИАНТ 2

In [19]:
import collections
genre_max2 = collections.Counter()
for genre in data.genres.str.split('|'):
    for i in genre:
        genre_max2[i] +=1
max(genre_max2, key=genre_max.get)
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
genre_cash = Counter()
for i in data[data.profit > 0].genres.str.split('|'):
    genre_cash += Counter(i)
genre_cash.most_common(1)

answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
director_Action = Counter()
for i in data[data.genres.str.contains("Action", na=False)].director.str.split('|'):
    director_Action += Counter(i)
director_Action.most_common(1)

answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
data[(data.release_year == 2012)].groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1)

answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
cast_cash = Counter()
for i in data[data.budget > data.budget.mean()].cast.str.split('|'):
    cast_cash += Counter(i)
cast_cash.most_common(1)

answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
genre_Cage = Counter()
for i in data[data.cast.str.contains("Nicolas Cage", na=False)].genres.str.split('|'):
    genre_Cage += Counter(i)
genre_Cage.most_common(1)


answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
data[(data.production_companies.str.contains("Paramount Pictures", na=False))].groupby(['original_title'])['profit'].sum().sort_values().head(1)
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
data[(data.production_companies.str.contains("Warner Bros", na=False))].groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
data.groupby(['month'])['original_title'].count()

answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
data[(data.year_time == 'summer')].original_title.count()

answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
data[(data.year_time == 'winter')].director.value_counts().head(1)

answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
#production_companies
#title_len

comp_len = Counter()
for i in data[(data.title_len == data.title_len.max())].production_companies.str.split('|'):
    comp_len += Counter(i)
comp_len.most_common()

answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
overview_len = Counter()
for i in data[(data.overview_word_count == data.overview_word_count.max())].production_companies.str.split('|'):
    overview_len += Counter(i)
overview_len.most_common()

answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
data.groupby(['original_title'])['vote_average'].mean().sort_values(ascending=False).head(20)

answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
a=data[(data.cast.str.contains("Johnny Depp")) & (data.cast.str.contains("Helena Bonham Carter"))].original_title.count()
b=data[(data.cast.str.contains("Ben Stiller")) & (data.cast.str.contains("Owen Wilson"))].original_title.count()
c=data[(data.cast.str.contains("Vin Diesel")) & (data.cast.str.contains("Paul Walker"))].original_title.count()
d=data[(data.cast.str.contains("Adam Sandler")) & (data.cast.str.contains("Kevin James"))].original_title.count()
e=data[(data.cast.str.contains("Daniel Radcliffe")) & (data.cast.str.contains("Rupert Grint"))].original_title.count()

answers['27'] = 'Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27